<!DOCTYPE html>
<html>
<head>
    <% const data = require('../data'); %>
    <%= require('./_header.ejs')() %>
    <title><%= data.title %> :: <%= data.tagline %></title>
</head>
<body>
<section class="jumbo">
    <div class="yelling">
        <a href="/" class="box">
            <img src="<%= require('./images/logo.svg') %>" alt="Oakfest">
        </a>

        <div id="countdown" class="countdown date" style="display:none">
            <span><span id="count-days" class="time">0</span> Days</span>
            <span><span id="count-hours" class="time">0</span> Hours</span>
            <span><span id="count-minutes" class="time">0</span> Minutes</span>
            <span><span id="count-seconds" class="time">0</span> Seconds</span>
        </div>

        <a class="btn" href="/faqs">
            About Oakfest 2020
        </a>

        <%= require('./_tickets.ejs')() %>

        <a class="btn" href="/sponsors">
            Sponsors
        </a>

        <br>
        <br>
        <a href="<%= data.volunteer %>" style="color:#00498a;">Sign-up for volunteers is now open!</a>
        <br>
        <br>
        <p class="social">
            <a href="<%= data.socials.facebook %>" class="tag" rel="facebook" title="Facebook">
                <span class="fab fa-facebook-square fa-3x"></span>
            </a>
            <a href="<%= data.socials.instagram %>" class="tag" rel="instagram" title="Instagram">
                <span class="fab fa-instagram fa-3x"></span>
            </a>
            <a href="mailto:<%= data.socials.email %>" class="tag" rel="contact" title="Email Us">
                <span class="far fa-envelope fa-3x"></span>
            </a>
            <a href="<%= data.socials.github %>" class="tag" rel="github" title="Fork us on GitHub">
                <span class="fab fa-github fa-3x"></span>
            </a>
            <a href="<%= data.socials.nimble %>" class="tag nimble-logo" rel="nimble" title="Design by Jessie & John @ NimbleCMS">
                <img src="/2019/assets/dist/dd1e77a0bbce21db20ff22fcdc6cf842.png" alt="NimbleCMS">
            </a>
            <a href="<%= data.socials.spotify %>" class="tag"
               rel="spotify" title="Listen on Spotify">
                <span class="fab fa-spotify fa-3x"></span>
            </a>
        </p>
        <br>
        <br>
        <br>
    </div>
    <%= require('./_footer.ejs')() %>
</section>
</body>
</html>
