<!DOCTYPE html>
<html>
<head>
    <% const data = require('../data'); %>
    <%= require('./_header.ejs')() %>
    <title><%= data.title %> <%= data.tagline %></title>
</head>
<body>
<section class="jumbo">
    <div class="yelling">
        <a href="/" class="box">
            <img src="<%= require('./images/logo.svg') %>" alt="Oakfest">
        </a>

        <div id="countdown" class="countdown date" style="display:none">
            <span><span id="count-days" class="time">0</span> Days</span>
            <span><span id="count-hours" class="time">0</span> Hours</span>
            <span><span id="count-minutes" class="time">0</span> Minutes</span>
            <span><span id="count-seconds" class="time">0</span> Seconds</span>
        </div>

        <a class="btn" href="/sponsors">
            Sponsors
        </a>
        <a class="btn" href="/faqs">
            About Oakfest 2020
        </a>
        <a class="btn" href="#" title="Tickets" rel="On sale February 4th!" onclick="var a=this.rel,b='Tickets';if(this.title===b){this.innerText=a;this.title=a;}else{this.innerText=b;this.title=b;}">
            Tickets
        </a>
    </div>
    <%= require('./_footer.ejs')() %>
</section>
</body>
</html>
