<!DOCTYPE html>
<html>
<head>
    <title>Oakfest 2019 :: Hiss Golden Messenger w/ Neighbor Lady - March 16</title>

    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="msvalidate.01" content="AD7F9F8C39457A65A5B805366C459B80"/>

    <meta name="keywords"
          content="Oakfest, Thomasville, GA, Georgia, Music, Festival, Hiss Golden Messenger, Neighbor Lady, Treehouse, Kiwanis, Concert, Food, Beer, Wine, Jam, Band">
    <meta name="description"
          content="OakFest is back in 2019 with Hiss Golden Messenger and Neighbor Lady. The afternoon will be jam packed with all of your favorite local bands. Come enjoy food trucks, beer and wine garden, and a great afternoon in Thomasville. All proceeds will go directly to The Treehouse Advocacy Center of Thomas County.">

    <meta name="geo.region" content="US-GA"/>
    <meta name="geo.placename" content="Thomasville"/>

    <link rel="canonical" href="https://oakfest.net/"/>
    <link rel="publisher" href="https://plus.google.com/+NimbleCMS">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= require('./images/favicon/favicon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= require('./images/favicon/favicon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= require('./images/favicon/favicon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./images/favicon/favicon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= require('./images/favicon/favicon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./images/favicon/favicon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= require('./images/favicon/favicon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./images/favicon/favicon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./images/favicon/favicon-180x180.png') %>">

    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-194x194.png') %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-192x192.png') %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon.png') %>" sizes="16x16">

    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="<%= require('./images/favicon/favicon-144x144.png') %>">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600|Montserrat:400,900" rel="stylesheet">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "Hiss Golden Messenger w/ Neighbor Lady @ Oakfest 2019",
            "startDate": "2019-03-16T16:00-05:00",
            "location": {
                "@type": "Place",
                "name": "Thomasville Amphitheater",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "215 West Jefferson Street",
                    "addressLocality": "Thomasville",
                    "postalCode": "31792",
                    "addressRegion": "GA",
                    "addressCountry": "US"
                }
            },
            "image": [
                "https://oakfest.net<%= require('./images/oakfest-yellow.jpg') %>",
                "https://oakfest.net<%= require('./images/oakfest.jpg') %>"
            ],
            "description": "OakFest is back in 2019 with Hiss Golden Messenger and Neighbor Lady. All proceeds will go directly to The Treehouse Advocacy Center of Thomas County.",
            "endDate": "2017-03-17T22:00-05:00",
            "offers": {
                "@type": "Offer",
                "url": "https://www.eventbrite.com/e/oakfest-2019-hiss-golden-messengerneighbor-lady-tickets-55535960553",
                "price": "25",
                "priceCurrency": "USD",
                "availability": "http://schema.org/InStock",
                "validFrom": "2019-01-01T00:00-05:00"
            },
            "performer": {
                "@type": "PerformingGroup",
                "name": "Hiss Golden Messenger"
            }
        }

    </script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113482311-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-113482311-1');
    </script>
</head>
<body>
<div id="corner-box" class="primary-lighter">
    <a href="/" class="plain-logo" title="Home"></a>
</div>
<nav id="nav">
    <div class="nav-bar primary-lighter">
        <div class="left-logo">
            <div class="oak-fest">
                <a href="#" title="Back to Top">
                    <!--img src="<%= require('./images/logo_plain_white.png') %>" alt="Back to Top"-->
                </a>
            </div>
            <div class="info">
                <span>DOORS 3:00PM</span> | <span>FIRST BAND 3:30PM</span> | <span>END 10:00 PM</span>
            </div>
        </div>
        <ul class="buttons">
            <li>
                <a href="https://www.eventbrite.com/e/oakfest-2019-hiss-golden-messengerneighbor-lady-tickets-55535960553"
                   class="active tag"
                   rel="tickets"
                   title="Find Tickets">Tickets</a>
            </li>
            <li><a href="#about" class="tag" rel="about">About</a></li>
            <li><a href="#bands" class="tag" rel="bands">The Bands</a></li>
            <!--li><a href="/sponsors" class="tag" rel="sponsors">Sponsors</a></li-->
        </ul>
    </div>
</nav>
<section class="compliment jumbo">
    <div class="bg">
        <svg width="0" height="0">
            <clipPath id="bgPolygon">
                <polygon points="0 400,320 400,400 80,80 80">
                </polygon>
            </clipPath>
        </svg>
    </div>
    <div class="yelling">
        <a href="https://www.eventbrite.com/e/oakfest-2019-hiss-golden-messengerneighbor-lady-tickets-55535960553" class="box">
            <span class="day">Saturday</span>
            <span class="date">March 16th</span>
        </a>

        <a href="http://wbwattorneys.com/" class="wbw-sign sign" title="Whitehurst, Blackburn & Warren, Attorneys at Law">
            <img src="<%= require('./images/sponsors/wbw.svg') %>" alt="Whitehurst, Blackburn & Warren, Attorneys at Law">
        </a>
    </div>
</section>
<section id="about">
    <div class="left-signs">
    </div>
    <div class="right-signs">

    </div>
    <div class="about-content">
        <h1>About</h1>
        <p>
            PRESENTED BY WHITEHURST, BLACKBURN & WARREN, ATTORNEYS AT LAW.<br /> The Kiwanis Club of Thomasville invites you to make a difference in the life of a child by
            supporting our annual event and fundraiser, OakFest, which will be held on Saturday, March
            16, 2019 from 4:00 p.m.-10:00 p.m at the Ritz Amphitheater in Downtown Thomasville.
        </p>
        <p>
            Our event is a full day of music, food, and fun! We will have bands from across the southeast,
            featuring Hiss Golden Messenger w/ Neighbor Lady, local food trucks, plus a beer and wine garden, for all
            your dining needs.
        </p>
        <p>
            As members of the Kiwanis Club, our goal is to serve the children of our community in the best
            ways possible: literacy, scholarships, and financial support to organizations like the Treehouse
            to promote healthy and positive assistance to children.
        </p>
        <br/>
        <p class="call-to-action">
            <a href="https://www.signupgenius.com/go/4090f48aead22a7fa7-oakfest1" class="btn btn-secondary active tag"
               rel="volunteer">
                Volunteer
            </a>

            <a href="https://www.eventbrite.com/e/oakfest-2019-hiss-golden-messengerneighbor-lady-tickets-55535960553"
               class="btn btn-secondary active tag"
               rel="tickets" title="Find Tickets">
                Find Tickets
            </a>
        </p>
        <br/>
    </div>
</section>

<section id="bands" class="none center band">
    <div class="hiss">
        <div class="shim"></div>
    </div>
    <a class="logo hiss-logo tag" href="http://www.hissgoldenmessenger.com/" title="Hiss Golden Messenger"
       rel="hiss-golden-messenger"></a>
</section>

<section class="none center band">
    <div class="lady">
        <div class="shim"></div>
    </div>
    <a class="logo lady-logo tag" href="https://neighborlady.biz" title="Neighbor Lady" rel="neighbor-lady"></a>
</section>

<section id="venue" class="none">
    <div id="map"></div>
</section>

<footer class="secondary pad">
    <div class="col one left">
        <a href="http://treehousethomasville.org/" title="The Treehouse" rel="treehouse" class="tag">
            <img src="<%= require('./images/treehouse_logo.png') %>" alt="The Treehouse"/>
        </a>
    </div>
    <div class="col two center">
        <a href="#" title="Back to Top">
            <img src="<%= require('./images/logo_plain_white.png') %>" alt="Back to Top"/>
        </a>
    </div>
    <div class="col three right">
        <div>
            <h1 class="right">contact us</h1>
            <p class="social">
                <a href="https://www.facebook.com/events/2244432225815329/" class="tag" rel="facebook" title="Facebook">
                    <span class="fab fa-facebook-square fa-3x"></span>
                </a>
                <a href="https://www.instagram.com/kiwanis.satellite" class="tag" rel="instagram" title="Instagram">
                    <span class="fab fa-instagram fa-3x"></span>
                </a>
                <a href="mailto:contact@oakfest.net" class="tag" rel="contact" title="Email Us">
                    <span class="far fa-envelope fa-3x"></span>
                </a>
                <a href="https://github.com/oakfest" class="tag" rel="github" title="Fork us on GitHub">
                    <span class="fab fa-github fa-3x"></span>
                </a>
                <a href="https://nimblecms.com" class="tag nimble-logo" rel="nimble" title="Design by Jessie & John @ NimbleCMS">
                    <img src="<%= require('./images/nimble-logo.png') %>" style="height: 40px;" alt="NimbleCMS">
                </a>
                <a href="https://open.spotify.com/user/g5joenmbzfrwkg4gg0760qfhm?si=oVgZibovS72ar6wNm9UPDQ" class="tag"
                   rel="spotify" title="Follow us on Spotify">
                    <span class="fab fa-spotify fa-3x"></span>
                </a>
            </p>
            <br/>
            <a href="https://www.eventbrite.com/e/oakfest-2019-hiss-golden-messengerneighbor-lady-tickets-55535960553"
               class="btn btn-secondary active tag"
               rel="tickets" title="Find Tickets">
                Get Tickets
            </a>
        </div>
    </div>
</footer>
<script type="text/javascript">
    window.initMap = function () {
        window.mapInitialized = true;
    };
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOXDwVppT9-Emzzh3h6VCeJPtXxR181z0&callback=initMap"></script>
</body>
</html>
