<!DOCTYPE html>
<html>
<head>
    <% const data = require('../data'); %>
    <%= require('./_header.ejs')() %>
    <title><%= data.title %> :: <%= data.tagline %></title>
</head>
<body>
<section class="jumbo">
    <div class="yelling">
        <a href="/" class="box">
            <img src="<%= require('./images/logo.svg') %>" alt="Oakfest">
        </a>

        <br>

        <div class="notice">
            Kiwanis Club of Thomasville and The Treehouse are organizations that take the safety of the community seriously.
            With Governor Kemp's declaration of a state health emergency, it is with a heavy heart that we are postponing OakFest 2020.
            We will be in contact via email to our ticket holders with instructions on next steps. To our sponsors, we thank you.
            This event is possible because of community sponsors like you.
            Again, we want to ensure that what we are doing is in the best interest of our community and The Treehouse.
            <br />
            We look forward to announcing a new date soon.
        </div>

        <br>

        <p class="social">
            <a href="<%= data.socials.facebook %>" class="tag" rel="facebook" title="Facebook">
                <span class="fab fa-facebook-square fa-3x"></span>
            </a>
            <a href="<%= data.socials.instagram %>" class="tag" rel="instagram" title="Instagram">
                <span class="fab fa-instagram fa-3x"></span>
            </a>
            <a href="mailto:<%= data.socials.email %>" class="tag" rel="contact" title="Email Us">
                <span class="far fa-envelope fa-3x"></span>
            </a>
            <a href="<%= data.socials.github %>" class="tag" rel="github" title="Fork us on GitHub">
                <span class="fab fa-github fa-3x"></span>
            </a>
            <a href="<%= data.socials.nimble %>" class="tag nimble-logo" rel="nimble"
               title="Design by Jessie & John @ NimbleCMS">
                <img src="/2019/assets/dist/dd1e77a0bbce21db20ff22fcdc6cf842.png" alt="NimbleCMS">
            </a>
            <a href="<%= data.socials.spotify %>" class="tag"
               rel="spotify" title="Listen on Spotify">
                <span class="fab fa-spotify fa-3x"></span>
            </a>
        </p>

        <br>
        <h1 style="font-family: sans-serif !important">Thank you! 💗</h1>
        <br>

        <div class="sponsors">
            <ul>
                <% for(let i in data.sponsors){ if (data.sponsors[i].disabled) continue; %>
                <li style="<%= '-ms-grid-row: ' + (Math.floor(i / 4) + 1) + '; -ms-grid-column: ' + ((i % 4) + 1) + ';' %>">
                    <a href="<%= data.sponsors[i].url %>"
                       class="<%= data.sponsors[i].level %>"
                       title="<%= data.sponsors[i].name.replace("\n", ' - ') %> (<%= data.sponsors[i].level %> sponsor)">
                        <div class="img">
                            <% if (data.sponsors[i].logo) { %>
                                <img src="<%= require(`./images/sponsors/${data.sponsors[i].logo}`) %>"
                                     alt="<%= data.sponsors[i].name.replace("\n", ' - ') %>"
                                     class="<%= data.sponsors[i].tiny ? 'tiny' : '' %>">
                            <% } else { %>
                                <div class="text"><%= data.sponsors[i].name %></div>
                            <% } %>
                        </div>
                        <div class="undercard"><%= data.sponsors[i].name %></div>
                    </a>
                </li>
                <% } %>
            </ul>
            <a class="btn tag" href="/sponsors" rel="2020-sponsors">
                2020
            </a>
            <a class="btn tag" href="/2019/sponsors" rel="2019-sponsors">
                2019
            </a>
            <a class="btn tag" href="/2018/sponsors" rel="2018-sponsors">
                2018
            </a>
        </div>
    </div>
    <%= require('./_footer.ejs') %>
</section>
</body>
</html>