<!DOCTYPE html>
<html>
<head>
    <% const data = require('../data'); %>
    <%= require('./_header.ejs')() %>
    <title><%= data.title %> :: Sponsors</title>
</head>
<body class="internal">
<section class="jumbo sponsors">
    <div class="thanks">
        <h1>Thank you! 💗</h1>
        <a class="btn" href="/">
            Back to Countdown
        </a>
        <a class="btn" href="mailto:contact@oakfest.net">
            Contact Us
        </a>
    </div>
    <ul>
        <% for(let i in data.sponsors){ if (data.sponsors[i].disabled) continue; %>
            <li style="<%= '-ms-grid-row: ' + (Math.floor(i / 4) + 1) + '; -ms-grid-column: ' + ((i % 4) + 1) + ';' %>">
                <a href="<%= data.sponsors[i].url %>"
                   class="<%= data.sponsors[i].level %>"
                   title="<%= data.sponsors[i].name.replace("\n", ' - ') %> (<%= data.sponsors[i].level %> sponsor)">
                    <div class="img">
                        <% if (data.sponsors[i].logo) { %>
                            <img src="<%= require(`./images/sponsors/${data.sponsors[i].logo}`) %>"
                                 alt="<%= data.sponsors[i].name.replace("\n", ' - ') %>"
                                 class="<%= data.sponsors[i].tiny ? 'tiny' : '' %>">
                        <% } else { %>
                            <div class="text"><%= data.sponsors[i].name %></div>
                        <% } %>
                    </div>
                    <div class="undercard"><%= data.sponsors[i].name %></div>
                </a>
            </li>
        <% } %>
    </ul>
    <a class="btn tag" href="/sponsors" rel="2020-sponsors">
        2020
    </a>
    <a class="btn tag" href="/2019/sponsors" rel="2019-sponsors">
        2019
    </a>
    <a class="btn tag" href="/2018/sponsors" rel="2018-sponsors">
        2018
    </a>
    <br/>
    <br/>
    <br/>
    <%= require('./_footer.ejs')() %>
</section>
</body>
</html>
