<!DOCTYPE html>
<html>
<head>
    <title>Oakfest :: Sponsors</title>

    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta name="keywords"
          content="Oakfest, Thomasville, GA, Georgia, Music, Festival, Futurebirds, Vegabonds, Treehouse, Kiwanis, Concert, Food, Beer, Wine, Jam, Band">
    <meta name="description"
          content="OakFest is Thomasville's newest music festival! Headlined by Futurebirds and featuring The Vegabonds, the afternoon will be jam packed with all of your favorite local bands. Come enjoy food trucks, beer and wine garden, and a great afternoon in Thomasville. All proceeds will go directly to The Treehouse Advocacy Center of Thomas County.">

    <meta name="geo.region" content="US-GA"/>
    <meta name="geo.placename" content="Thomasville"/>

    <link rel="canonical" href="https://oakfest.net/"/>
    <link rel="publisher" href="https://plus.google.com/+NimbleCMS">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= require('./images/favicon/favicon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= require('./images/favicon/favicon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= require('./images/favicon/favicon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./images/favicon/favicon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= require('./images/favicon/favicon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./images/favicon/favicon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= require('./images/favicon/favicon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./images/favicon/favicon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./images/favicon/favicon-180x180.png') %>">

    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-194x194.png') %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon-192x192.png') %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= require('./images/favicon/favicon.png') %>" sizes="16x16">

    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="<%= require('./images/favicon/favicon-144x144.png') %>">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600|Montserrat:400,900" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113482311-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-113482311-1');
    </script>
</head>
<body>
<nav id="nav">
    <div class="nav-bar">
        <div class="left-logo">
            <div class="oak-fest">
                <a href="#" title="Back to Top">
                    <!--img src="<%= require('./images/logo_plain_white.png') %>" alt="Back to Top"/-->
                </a>
            </div>
            <div class="treehouse">
                <a href="http://treehousethomasville.org" class="tag" rel="treehouse">
                    <img src="<%= require('./images/benefit.png') %>"
                         alt="A benefit for The Treehouse by Kiwanis club of Thomasville."/>
                </a>
            </div>
        </div>
        <ul class="buttons">
            <li><a href="https://www.eventbrite.com/e/oakfest-tickets-41971793765"
                   class="active hide-sm tag"
                   rel="tickets"
                   title="Find Tickets">Tickets</a>
            </li>
            <li><a href="/#about" class="hide-sm tag" rel="about">About</a></li>
            <li><a href="/#bands" class="hide-sm tag" rel="bands">The Bands</a></li>
            <li><a href="/sponsors" class="hide-sm tag primary" rel="sponsors">Sponsors</a></li>
        </ul>
    </div>


    <div class="nav-logo">
        <div class="logo" style="cursor:pointer;" onclick="window.location = '/'" title="Home"></div>
    </div>
</nav>
<section class="compliment internal-jumbo center gold">
    <div class="bg"></div>
    <div class="yelling">
        <h1>Sponsors</h1>
        <div class="center">
            <br/><br/>
            <a href="mailto:contact@oakfest.net"
               class="btn btn-compliment-clear active tag"
                rel="contact">
                Contact Us
            </a>
        </div>
    </div>
</section>

<section class="center silver">
    <h1>Silver</h1>
    <a href="http://www.tbrtpa.com/" class="tag"><img alt="Taylor Benefit Resource" src="<%= require('./images/sponsors/tbr_logo.png') %>"></a>
    <a href="https://www.hurstboiler.com/" class="tag"><img alt="Hurst Boiler" src="<%= require('./images/sponsors/hurst-logo.png') %>"></a>
    <a href="http://wbwattorneys.com/" class="tag"><img alt="Whitehurst Blackburn & Warren" src="<%= require('./images/sponsors/wbw.png') %>"></a>
    <a href="https://www.wendys.com/" class="tag"><img alt="Wendy's" src="<%= require('./images/sponsors/wendys.png') %>"></a>
    <a href="http://www.cives.com/southern" class="tag"><img alt="Cives Steel Company" src="<%= require('./images/sponsors/cives.png') %>"></a>
    <a href="https://www.companycasuals.com/allgood/start.jsp" class="tag"><img alt="Allgood Screening and Printing" src="<%= require('./images/sponsors/allgood.png') %>"></a>
    <a href="http://www.jsmithlanier.com/" class="tag"><img alt="J. Smith Lanier" src="<%= require('./images/sponsors/jsmith.png') %>"></a>
    <br />
    <br />
</section>

<section class="primary center bronze">
    <h1>Bronze</h1>
    <a href="http://www.cleaverbrooks.com/" class="tag"><img alt="Cleaver Brooks" src="<%= require('./images/sponsors/Cleaver Brooks.png') %>"></a>
    <a href="http://www.wcgalaw.com/" class="tag"><img alt="Whelchel & Carlton, LLP" src="<%= require('./images/sponsors/Whelchel & Carlton logo.png') %>"></a>
    <a href="https://www.factorxfitness.com/" class="tag"><img alt="FactorXFitness" src="<%= require('./images/sponsors/factor.png') %>"></a>
    <a href="https://www.facebook.com/libertytowingandrecovery/" class="tag"><img alt="Liberty Towing" src="<%= require('./images/sponsors/liberty.png') %>"></a>
    <a href="https://www.facebook.com/laurendeeabbey/" class="tag"><img alt="Element Style Bar" src="<%= require('./images/sponsors/Element.png') %>"></a>
    <a href="http://www.tcfederal.com/" class="tag"><img alt="TC Federal" src="<%= require('./images/sponsors/tcf.png') %>"></a>
    <a href="https://www.amerisbank.com/" class="tag"><img alt="Ameris Bank" src="<%= require('./images/sponsors/ameris.png') %>"></a>
    <a href="https://www.bankcb.com" class="tag"><img alt="Synovus Bank" src="<%= require('./images/sponsors/synovus.png') %>"></a>
    <a href="http://dannyhayesmylawyer.com/" class="tag"><img alt="Danny Hayes" src="<%= require('./images/sponsors/danny.png') %>"></a>
    <a href="http://caldwellandlangford.com/" class="tag"><img alt="Caldwell and Langford" src="<%= require('./images/sponsors/caldwell.png') %>"></a>
    <a href="http://newhiresolutions.com/" class="tag"><img alt="New Hire Solutions" src="<%= require('./images/sponsors/new-hire.png') %>"></a>
    <a href="http://www.mcintoshclinic.com/" class="tag"><span>McIntosh Clinic, <br/>P.C.</span></a>
    <a href="http://www.tnbank.com/" class="tag"><img alt="TNB Bank and Financial Services" src="<%= require('./images/sponsors/tnbboth.png') %>"></a>
    <a href="http://hendersonsofthomasville.com/" class="tag"><img alt="Henderson's" src="<%= require('./images/sponsors/hendersons.png') %>"></a>
    <a href="http://paintstore.benjaminmoore.com/stores/us/ga/thomasville/sampsons-paint-decorating-inc?lang=en_CA" class="tag"><img alt="Sampson's Paint & Decorating" src="<%= require('./images/sponsors/sampsons.png') %>"></a>
    <a href="http://keysouth.com" class="tag"><img alt="KeySouth Realty" src="<%= require('./images/sponsors/keysouth.png') %>"></a>

    <br />
    <br />

    <h1>Special Thanks</h1>

    <ul>
        <li><a href="https://www.flowersfoods.com/">Flowers Foods</a></li>
        <li><a href="https://www.facebook.com/Lewis-Produce-Thomasville-Georgia-173097742734774/">Lewis Produce</a></li>
        <li><a href="http://www.rosecityoutdoor.com/">Rose City Outdoor</a></li>
    </ul>

</section>


<footer class="secondary pad">
    <div class="col one left">
        <a href="http://treehousethomasville.org/" title="The Treehouse" rel="treehouse" class="tag">
            <img src="<%= require('./images/treehouse_logo.png') %>" alt="The Treehouse"/>
        </a>
    </div>
    <div class="col two center">
        <a href="#" title="Back to Top">
            <img src="<%= require('./images/logo_plain_white.png') %>" alt="Back to Top"/>
        </a>
    </div>
    <div class="col three right">
        <div>
            <h1 class="right">contact us</h1>
            <p class="social">
                <a href="https://www.facebook.com/events/1572297386157125" class="tag" rel="facebook" title="Facebook">
                    <span class="fab fa-facebook-square fa-3x"></span>
                </a>
                <a href="mailto:contact@oakfest.net" class="tag" rel="contact" title="Email Us">
                    <span class="far fa-envelope fa-3x"></span>
                </a>
                <a href="https://github.com/oakfest" class="tag" rel="github" title="Fork us on GitHub">
                    <span class="fab fa-github fa-3x"></span>
                </a>
                <a href="https://open.spotify.com/user/g5joenmbzfrwkg4gg0760qfhm?si=oVgZibovS72ar6wNm9UPDQ" class="tag"
                   rel="spotify" title="Follow us on Spotify">
                    <span class="fab fa-spotify fa-3x"></span>
                </a>
            </p>
            <br/>
            <a href="https://www.eventbrite.com/e/oakfest-tickets-41971793765" class="btn btn-secondary active tag"
               rel="tickets" title="Find Tickets">
                Get Tickets
            </a>
        </div>
    </div>
</footer>
</body>
</html>
